body{
       background:#333333;
       font:bold 12px Arial, Helvetica, sans-serif;
       margin:0;
       padding:0;
       min-width:90%;
       color:#bbbbbb;
  }
   
  a {
      text-decoration:none;
      color:#00c6ff;
  }
   
  h1 {
      font: 4em normal Arial, Helvetica, sans-serif;
      padding: 20px;    margin: 0;
      text-align:center;
      color:green
  }
   
  h1 small{
      font: 0.2em normal  Arial, Helvetica, sans-serif;
      text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
      display: block;
  }
   
  h2 {
      font-weight:700;
      color:#bbb;
      font-size:20px;
  }
   
  h2, p {
      margin-bottom:10px;
  }
  .container {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
  }
   
  .clock {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid #333;
      color: #fff;
      background: #0066FF;
  }
   
  .tags {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid #333;
      color: #fff;
      background: #0066FF;
  }
   
  #Date {
      font-size: 36px;
      text-align: center;
  }
  #Message {
      font-size: 36px;
      text-align: center;
  }
  #Users {
      font-size: 20px;
  }

  ul {
      width: 800px;
      margin: 0 auto;
      padding: 0px;
      list-style: none;
      text-align: center;
  }
   
  ul li {
      display: inline;
      font-size: 10em;
      text-align: center;
  }
   
  #point {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
  }
   

